**/.DS_Store

nvim/autoload/plug.vim
nvim/autoload/plug.vim.old
nvim/.vim
nvim/plugged
nvim/.netrwhist
nvim/deoplete
nvim/.init.vim-rplugin~

tmux/tmux
tmux/plugins

tmux/tmux-*

**/secrets

ccentos5/*

